nav {
  border: 1px solid #eee;
  padding: 1em 3em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
nav .right-nav {
  display: flex;
  justify-content: space-around;
}

nav .right-nav div:nth-child(-n+3) {
  padding: 0 1em;
}

nav .right-nav div:nth-child(4) {
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: #00d1ee;
}

a:hover {
  color: #038af7;
}

/* css Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}
.block {
  height: 200px;
  border: 1px solid black;
}
